// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700');

body { margin: 0px } 

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1170px) {
        width: 100%;
        padding: 0;
        margin: 0
    }
}

p { margin: 0 }

a {
    @include transition(all, .2s);
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}



div.center-block { float: none; }