$primaryFont: 'Lato', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

$primaryColor: #3E433E;
$secondaryColor: #808080;

$politics: #FF001F;
$politicsSecondary: #d0021b;
$business: #bd10e0;
$tech: #4990E2;
$science: #7CBC37;
$sports: #F6A623;
$sportsSecondary: #f5a623;

$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-alt: 320px;