.button {
    border: none;
    background: none;
    cursor: pointer;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

    &:hover, &:focus, &:active {
        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
        filter: grayscale(0);
        outline: none;
        border: none;
    }

    &--next {
        position: absolute;
        left: 22%;
        top: 50%;
       
        &::before {
            content: '';
            background-image: url('../../images/arrow-slider.png');
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            width: 23px;
            position: absolute;
            transform: rotate(-180deg);
        }
    }

    &--previous {
        position: absolute;
        right: 11%;
        top: 50%;

        &::before {
            content: '';
            background-image: url('../../images/arrow-slider.png');
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            width: 23px;
            position: absolute;
            

        }
    }
}