.products__featured {
    @extend .col-sm-2;
    border-right: 1px solid #eeeeee;
    padding: 0 10px;

    &-case {
        padding: 10px;

        img {
            padding: 10px 20px;
            border: 3px solid #ffffff
        }

        &:hover {
            background: #d7eaf9;
            background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7eaf9), color-stop(100%, #f9fdfe));
            background: -webkit-linear-gradient(top, #d7eaf9 0%, #f9fdfe 100%);
            background: -o-linear-gradient(top, #d7eaf9 0%, #f9fdfe 100%);
            background: -ms-linear-gradient(top, #d7eaf9 0%, #f9fdfe 100%);
            background: linear-gradient(to bottom, #d7eaf9 0%, #f9fdfe 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eaf9', endColorstr='#f9fdfe', GradientType=0 );    
        }

        &:hover img {
            background-color: #ffffff;
            border: 3px solid #bdd0e0;
        }
    }
}

.products__proposal {
    width: 70%;
    position: relative;
    display: inline-block;
    margin-left: 30px;

    &-case {
        min-width: 210px;
        width: 100%;
        padding: 10px;
        @include transition(all, .2s);

        img {
            padding: 10px 20px;
            border: 3px solid #ffffff;
        }

        &:hover {
            @include transition(all, .2s);
            background: #d7eaf9;
            background: -webkit-gradient(left top, left bottom, color-stop(0%, #d7eaf9), color-stop(100%, #f9fdfe));
            background: -webkit-linear-gradient(top, #d7eaf9 0%, #f9fdfe 100%);
            background: -o-linear-gradient(top, #d7eaf9 0%, #f9fdfe 100%);
            background: -ms-linear-gradient(top, #d7eaf9 0%, #f9fdfe 100%);
            background: linear-gradient(to bottom, #d7eaf9 0%, #f9fdfe 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7eaf9', endColorstr='#f9fdfe', GradientType=0 );    
        }

        &:hover img {
            background-color: #ffffff;
            border: 3px solid #bdd0e0;
        }
    }
}

#products__proposal-items {
    display: flex;
    overflow: hidden;
}

.products__list {
    img {
        display: block;
        margin: 0 auto
    }
}

.products__list-title {
    font-family: $primaryFont;
    font-size: 16px;
    color: #247bb3;
    margin: 0;
    padding: 10px 0;
    background: #d4e4ef;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #d4e4ef), color-stop(100%, #b0dbfc));
    background: -webkit-linear-gradient(top, #d4e4ef 0%, #b0dbfc 100%);
    background: -o-linear-gradient(top, #d4e4ef 0%, #b0dbfc 100%);
    background: -ms-linear-gradient(top, #d4e4ef 0%, #b0dbfc 100%);
    background: linear-gradient(to bottom, #d4e4ef 0%, #b0dbfc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#b0dbfc', GradientType=0 );    

    &:first-child {
        @extend .col-sm-2
    }
    &:last-child {
        @extend .col-sm-9
    }

}

.products__title {
    color: #272727;
    text-decoration: none;
    font: {
        family: $secondaryFont;
        size: 13px;
        weight: 400;
    }
}

.products__old-price {
    font-family: $secondaryFont;
    font-size: 12px;
}

.products__price {
    font-family: $secondaryFont;
    font-size: 12px;
    color: #c90303;

    span {
        font-size: 16px;
        font-weight: 700;
    }
}

.products__payment {
    font-family: $secondaryFont;
    font-size: 12px;
    color: #c90303;
}